<a href="/lists/new">Add a new list!</a>

<table>
  <tr>
    <th>
      LISTS!
    </th>
  </tr>
  <% @lists.each do |list| %>
    <tr>
      <td>
        <%= list.name %>
      </td>
      <td>
        <form action="/lists/<%= list.id %>" method="get">
          <input type="submit" value="View List">
        </form>
      </td>
      <td>
        <form action="/lists/<%= list.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete List">
        </form>
      </td>
      <td>
        <form action="/lists/<%= list.id %>/edit" method="get">
          <input type="submit" value="Update List Name">
        </form>
      </td>
    </tr>
  <% end %>
</table>
