<% if @items.empty? %>
  <p>No items found!</p>
<% else %>
  Here's the list of items matching your search:
  <table class="table-bordered table-condensed">
    <thead>
      <tr>
        <th>
          Item
        </th>
        <th>
          List
        </th>
        <th colspan="2">
          Options
        </th>
      </tr>
    </thead>
    <% @items.each do |item| %>
    <tr>
      <td>
        <%= item.name %>
      </td>
      <td>
        <%= @lists.find(item.list_id).name %>
      </td>
      <td>
        <form action="/items/<%=item.id%>" method="get">
          <input class="btn btn-default btn-xs" type="submit" value="View Item">
        </form>
      </td>
      <td>
        <form action="/lists/<%=item.list_id %>" method="get">
          <input class="btn btn-default btn-xs" type="submit" value="View List">
        </form>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>
