Here's the list of items matching your search:
<table>
  <th>
    <tr>
      <td>
        <h3> Item </h3>
      </td>
      <td>
        <h3> List </h3>
      </td>
    </tr>
  </th>
  <% @items.each do |item| %>
  <tr>
    <td>
      <%= item.name %>
    </td>
    <td>
      <%= @lists.find(item.list_id).name %>
    </td>
    <td>
      <form action="/items/<%=item.id%>" method="get">
        <input type="submit" value="View Item">
      </form>
    </td>
    <td>
      <form action="/lists/<%=item.list_id %>" method="get">
        <input type="submit" value="View List">
      </form>
    </td>
  </tr>
  <% end %>
</table>
