<p>Here are some details about your item:</p>
<table>
  <th>
    <tr>
      <td>
        <h3> Name </h3>
      </td>
      <td>
        <h3> Due Date </h3>
      </td>
      <td>
        <h3> Comments </h3>
      </td>
    </tr>
  </th>
  <tr>
    <td>
      <%= @item.name %>
    </td>
    <td>
      <%= @item.due_date %>
    </td>
    <td>
      <%= @item.comments %>
    </td>
    <td>
      <form action="/items/<%=@item.id%>/edit" method="get">
        <input type="submit" value="Update Item">
      </form>
    </td>
  </tr>
</table>
