<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do Lists!</title>
    <link rel="stylesheet" href="/styles.css" media="screen">
  </head>
  <body>
    <h1>What are YOU doing?</h1>
    <main>
      <form action="/search" method="get">
        <input type="text" name="q" placeholder="Search all items" required>
        <input type="submit" value="search">
      </form>
      <hr>
      <article class="">
        <%= yield %>
      </article>

      <hr>

      <aside class="">
          <p><a href="/lists">Lists</a></p>
      </aside>

      <footer>
      </footer>

    </main>
  </body>
</html>
